<div class="formParam mt-3">
  <form>
    <div class="form-group">
      <label for="nbrArticleMax">Nombre d'article maximum pour la page d'accueil</label>
        <input type="number" class="form-control" name="nbrArticleMax" placeholder="5" min="0" max="8">
    </div>
    <div class="form-group">
      <label for="baliseSeoMeta">Balise titre SEO + méta description</label>
        <input type="text" class="form-control" name="baliseSeoMeta" placeholder="<title>PEP'eat</title> <meta name='viewport' content=width=device-width, initial-scale=1>">
    </div>
    <div class="form-group">
      <label for="textIntro">Texte d'introduction</label>
        <input type="text" class="form-control" name="textIntro" placeholder="Du bonheur dans votre assiette !">
    </div>
    <div class="form-group">
      <label for="titreAccueil">Titre de la page d'accueil</label>
        <input type="text" class="form-control" name="titreAccueil" placeholder="PEP'eat">
    </div>
    <div class="row">
      <a href="admin/parametres/liste-param" class="btn btn-success col-2 mx-auto">Valider</a>
      <a href="admin/parametres/liste-param" class="btn btn-danger col-2 mx-auto">Annuler</a>
    </div>
  </form>
</div>
